.button {
  text-align: center;
  border: none;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 26px;
  border-radius: 7px;
  cursor: pointer;
  transition: 0.4s;
}

.button > * {
  transition: 0.4s;
}

.button-modal {
  padding: 12px 0px;
  flex-grow: 1;
  max-height: 45px;
  font-size: 16px;
}

.button.primary, .button.primary > * {
  background: #3065c7;
}

.button.primary:hover, .button.primary:hover > * {
  background: #4d84eb;
}

.button.outline {
  border: 2px solid #b2c0db;
}

.button.outline:hover {
  border: 2px solid #7b9fe7;
}

.button.text, .button.outline {
	background: none;
	color: #3065c7;
	min-width: 0px;
}

.button.delete {
  color: #e74c3c;
}

.button.delete:hover {
  border: 2px solid #e74c3c;
}

.button.text:hover {
  color: #4d84eb;
}

.button.disabled {
  background: #aeaeae;
  pointer-events: none;
}

.button.loading {
  color: #aeaeae;
}

.button.disabled > * {
  background: #aeaeae;
}