.HeaderButton {
    color: white;
    background: #3065c7;
    border-radius: 27px;
    padding: 14px 30px;
    display: flex;
    align-items: center;
}

.header-button-text {
    font-size: 19px;
    font-weight: 500;
    margin-right: 10px;
}

.dropdown-arrow {
    font-size: 20px;
}