.SelectField {
    text-align: left;
    margin-right: 20px;
    flex-grow: 1;
    flex-basis: 0;
    position: relative;
}

.selectfield-select.unselected {
    color: #7d8997;
}

.disabled .selectfield-select {
	color: #b9bbbf;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214px%22%20height%3D%228px%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28158%2C%20158%2C%20158%29%22%20d%3D%22M7.000%2C7.541%20L0.503%2C0.459%20L13.497%2C0.459%20L7.000%2C7.541%20Z%22%2F%3E%3C%2Fsvg%3E') 88% no-repeat #fbfbfb;
}

.selectfield-select {
    display: block;
    border-radius: 7px;
    border: 2px solid #eceef2;
    -moz-appearance: none;
	-webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    outline: none;
    padding: 12px 15px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214px%22%20height%3D%228px%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20%20fill%3D%22rgb%28158%2C%20158%2C%20158%29%22%20d%3D%22M7.000%2C7.541%20L0.503%2C0.459%20L13.497%2C0.459%20L7.000%2C7.541%20Z%22%2F%3E%3C%2Fsvg%3E') 88% no-repeat #eceef2;
    background-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 12px;
    width: 100%;
    transition: 0.3s;
}

.selectfield-option {
    color: #272727;
}

.selectfield-label {
    color: #2d3d7d;
    font-size: 15px;
    font-weight: 500;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
}

.disabled .selectfield-label {
    color: #b9bbbf;
}

.selectfield-error {
	font-size: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 90px;
	color: #d80e0e;
}

.selectfield-select.invalid {
    border-color: #d80e0e;
}

.selectfield-label.invalid {
    color: #d80e0e;
}