.textfield {
  position: relative;
  margin-top: 10px;
  text-align: left;
}

.textfield.inline {
  display: inline-block;
  margin-right: 20px;
  flex-grow: 1;
  flex-basis: 0;
}

.textfield.tags {
  border-radius: 7px;
  border: 2px solid #eceef2;
  background: #eceef2;
  transition: border-color 0.3s;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  height: 50px;
  box-sizing: border-box;
}

.textfield.tags.focused {
  border-color: #3065c7;
}

.textfield.text .textfield-input {
  border-radius: 7px;
  border: 2px solid #eceef2;
  transition: 0.3s;
  padding: 13px 20px;
  width: 100%;
}

.textfield.tags .textfield-input {
  border: none;
  padding: 0;
  flex-grow: 1;
}

.textfield.text .textfield-input:focus {
  border-color: #3065c7;
}

.textfield.inline:last-child {
  margin-right: 0;
}

.textfield-label {
  position: absolute;
  display: block;
  color: #7d8997;
  overflow: hidden;
  left: 20px;
  top: 15px;
  pointer-events: none;
  user-select: none;
  transition: 0.3s;
}

.textfield.large .textfield-label {
  font-size: 28px;
}

.textfield-label.focused, .textfield-label.has-input {
  color: #2d3d7d;
  top: -30px;
  left: 0;
  font-size: 15px;
  font-weight: 500;
}

.textfield-input {
  background: #eceef2;
  outline: none;
  color: #272727;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  box-sizing: border-box;
}

.disabled .textfield-label, .disabled .textfield-input::placeholder {
  color: #b9bbbf;
}

.textfield.large .textfield-input {
  font-size: 28px;
}

.textfield.invalid .textfield-label.focused, .textfield.invalid .textfield-label.has-input {
  color: #d80e0e;
}

.textfield.text.invalid .textfield-input {
  border-color: #d80e0e;
  box-shadow: none;
}

.disabled .textfield-input {
	color: #b9bbbf;
	background: #fbfbfb;
  padding: 14px 20px;
}

.textfield-error {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 59px;
  color: #d80e0e;
}

.textfield.large .textfield-error {
  top: 42px;
}

.textfield-tags .Tag {
  margin-bottom: 0px;
  margin-right: 7px;
}

.textfield-desc {
  position: absolute;
  font-size: 14px;
  font-weight: 400;
  top: -30px;
  right: 0;
  color: #8f9197;
}