.textfield {
  position: relative;
  margin-bottom: 25px;
  margin-top: 10px;
  text-align: left;
}

.textfield.inline {
  display: inline-block;
  margin-right: 20px;
  flex-grow: 1;
}

.textfield.inline:last-child {
  margin-right: 0;
}

.textfield-label {
  position: absolute;
  display: block;
  color: #bab5b5;
  overflow: hidden;
  left: 20px;
  top: 15px;
  pointer-events: none;
  user-select: none;
  transition: 0.3s;
}

.textfield.large .textfield-label {
  font-size: 28px;
}

.textfield-label.focused, .textfield-label.has-input {
  color: #2d3d7d;
  top: -30px;
  left: 0;
  font-size: 15px;
  font-weight: 500;
}

.textfield-input {
  border-radius: 7px;
  border: 2px solid #eceef2;
  transition: 0.3s;
  padding: 13px 20px;
  background: #eceef2;
  outline: none;
  color: #272727;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  width: 100%;
  box-sizing: border-box;
}

.textfield.large .textfield-input {
  font-size: 28px;
}

.textfield-input:focus {
  border-color: #3065c7;
}

.textfield.invalid .textfield-label {
  color: #d80e0e;
}

.textfield.invalid .textfield-input {
  border-color: #d80e0e;
}

.textfield-error {
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 29px;
  color: #d80e0e;
}

.textfield.large .textfield-error {
  top: 42px;
}